@charset "utf-8";

body {
  background: #d4d4d4 url("../images/background.png");
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
}

#drawing-canvas {
      width: 400px;
      height: 600px;
      margin: 10px auto;
}
footer{
    margin: 30px 0;
    padding-top: 30px;
    border-top: 1px solid #999;
    color: #777;
    font-size: 11px;
    a {
      color: #333;
    }
  }
